#php_value date.timezone "Europe/Amsterdam"
#
#<IfModule mod_rewrite.c>
#<IfModule mod_dir.c>
#  DirectoryIndex index.php index.html index.htm default.htm default.html default.asp /index.php
#</IfModule>
#
#RewriteEngine on
#
#RewriteBase /fk/
#
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#
#RewriteRule ^(.*)$ index.php?url=$1 [L]
#
#</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes

#RewriteEngine On
##RewriteBase /route/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#
#RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]